@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color: #ddd;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color:#fff;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}

.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

.container h1{
	margin:0px;
	padding:0px;
	font-size: 75px;
	color: black;
	box-sizing: border-box;
	text-decoration: wavy;
	font-family: sans-serif;
	text-shadow: 5px 5px 5px rgba(19, 17, 17, 0.356);
}
.container p{
	
	margin:0px;
	padding:0px;
	color: black;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}
.container h2{
	
	margin:0px;
	padding:0px;
	color: black;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}
.container h4{
	padding:0px;
	font-size: large;
	color: black;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.img-1{
	border-radius: 20px 20px 20px 20px ;
	width: 45%;
	height:50%;
	margin-left: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.img-2{
	border-radius: 20px 20px 20px 20px;
	width:45%;
	height: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.img-3{
	border-radius: 20px 20px 20px 20px;
	width:45%;
	height: 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left:25% ;
}